<app-header class="row col-12"></app-header>
<div class="Container">
    <div class="Form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Archivo</label>
            <input type="file" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="Descripcion" class="form-label">Descripcion</label>
            <textarea class="form-control" id="Descripcion" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-outline-light">Generar Token</button>

    </div>
</div>
