.Form{
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 12px;
    background-color: rgb(17, 17, 91);
    color: white;
    width: 60%;
    border-radius: 6px;
}
.Container{
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}