<app-header class="row col-12"></app-header>
<div class="container">
    <div class="form">
        <div class="mb-1 title">
            <h1>Archivo: Nombre_archivo</h1>
        </div>
        <label for="descripcion">Descripcion:</label>
        <textarea id="descripcion" cols="10" rows="5">Archivo de Ventas 2023</textarea>
        <div class="row mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th class="bg-success">Fecha y Hora</th>
                        <th class="bg-success">Direccion Ipv4</th>
                        <th class="bg-success">Direccion Ipv6</th>
                        <th class="bg-success">Nombre Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/2023</td>
                        <td>192.164.1.23</td>
                        <td>2001:db8:3333:4444:5555:6666:7777:8888</td>
                        <td>Juan</td>
                    </tr>
                    <tr>
                        <td>03/05/2023</td>
                        <td>192.164.1.23</td>
                        <td>2001:db8:3333:4444:5555:6666:7777:8888</td>
                        <td>Alex</td>
                    </tr>
                    <tr>
                        <td>05/07/2023</td>
                        <td>192.164.1.27</td>
                        <td>2001:db8:3333:4444:5555:6666:7777:8888</td>
                        <td>Mariano</td>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div class="mb-3">
            <label for="Descripcion" class="form-label">Ingrese UUID</label>
            <input class="form-control">
        </div> -->
        <button type="button" class="btn btn-outline-light mt-5" routerLink='/home'>Salir</button>

    </div>
</div>
